<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key %>)">

  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <h2> Ingredients </h2>
      <div class="ingredients">
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "Remove", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: 'ml-3 text-danger'
           %>
           </li>
          <%end %>
        </ul>
      </div>
      <div class="form">
        <%= render './doses/form' %>
      </div>
    </div>
  </div>
</div>

